* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
img {
  animation: driveImag 1s;
}
@keyframes driveImage {
  from {
    transform: translateY(-300%);
  }
  to {
    transform: translateY(0%);
  }
}
.does {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}
#first {
  border: 2px solid white;
  height: 500px;
  width: 300px;
  border-radius: 20px;
  background-color: steelblue;
}
#first:hover {
  scale: 105%;
}
#second:hover {
  scale: 105%;
}
#third:hover {
  scale: 105%;
}
#second {
  border: 2px solid white;
  height: 500px;
  width: 300px;
  border-radius: 20px;
  background-color: steelblue;
}
#third {
  border: 2px solid white;
  height: 500px;
  width: 300px;
  border-radius: 20px;
  background-color: steelblue;
}
h1 {
  text-align: center;
}
#mg1 {
  border-radius: 10px;
  margin: 2px;
}
body {
  background: skyblue;
}
#background {
  background-image: url("image_2.jpg");
  border-radius: 20px;
  width: 100%;
  height: 500px;
  background-color: transparent;
}
#navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  margin-right: 200px;
}
nav a {
  display: inline;
  margin: 20px;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
  height: 50px;
}
nav a:hover {
  background-color: brown;
  border-radius: 20px;
  background: linear-gradient(red, yellow);
  width: 80px;
  height: 30px;
}
#logo {
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}
h2 {
  padding-left: 10px;
}
nav img {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nba {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.p1 {
  margin: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: large;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 300px;
  background-color: steelblue;
  margin-top: 30px;
  padding: 10px;
  align-items: center;
}
#b1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  margin-left: 100px;
  width: 80px;
  height: 30px;
  border-radius: 10px;
}
#b3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  margin-left: 100px;
  width: 80px;
  height: 30px;
  border-radius: 10px;
}
#b2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  width: 80px;
  height: 30px;
  border-radius: 10px;
}
#b1:hover {
  background: linear-gradient(red, yellow);
}
#b3:hover {
  background: linear-gradient(red, yellow);
}
#b2:hover {
  background: linear-gradient(red, yellow);
}
.ct {
  margin: 10px;
}
#lc {
  margin: 10px;
  padding-right: 10px;
}
#ba {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 560px;
}
#ba:hover {
  background: linear-gradient(red, yellow);
}
/*Mobile*/
@media (max-width: 600px) {
  .does {
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 100px;
  }
  #second {
    margin-top: 50px;
  }
  #third {
    margin-top: 50px;
  }
  #ba {
    margin-left: 150px;
  }
  #sm {
    display: none;
  }
}
